 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
body{
      background-color: #1f2329;

}

 footer{
     font-family: poppins;
     height: 100px;
     position: fixed;
     bottom:  0;
     width: 100%;
     z-index: 1;
     text-align: center;
     color: white;
    }
a{
 text-decoration: none;
}

a:link{
 color: black;
}

img {
  width: 100%;
  height: auto;
}
