@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    background-color: #000000;
}


.container{
    max-height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}



.item{
    padding: 10px 10px;
    border-radius: 11px;
    display: flex;
    height: 100vh;
    align-items: center;
    scroll-snap-align: center;
  
}

.box{
    font-family: 'poppins';
    padding: 11px;
    padding-top: 11vh;
    padding-bottom: 11vh;
    border-radius: 20px;
    background: #eeeeee;
    
    
    text-align: center;
    width: 66vh;
    margin: auto;
    
}

p{
overflow-wrap: break-word;
text-align:justify;
padding-left: 10px;
padding-right: 10px;
}

h5{
   font-family: 'Fira Code', monospace;
   color: rgb(155, 143, 143);
   text-align: center;
   animation: bounce 0.5s; 
   animation-direction: alternate; 
   animation-iteration-count: infinite;
   font-size: 15px;
   bottom: 0;

}


@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  40% { border-color: #4E5DB3; }
}



h5 { 
    
    animation: bounce 0.5s; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    animation-iteration-count: infinite; 
} 
  
@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 10px, 0); 
    } 
} 
   
@-webkit-keyframes bounce { 
    from { 
        -webkit-transform: translate3d(0, 0, 0); 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        -webkit-transform: translate3d(0, 10px, 0); 
        transform: translate3d(0, 10px, 0); 
    } 

}

@keyframes animate
{
    0%{
        text-shadow: -3px -3px 0 rgb(211, 211, 211),3px 3px 0 rgb(0, 0, 0);
    }
}


.copy{
    align-items: center;
    text-align: center;
    font-size: 14px;
font-family: 'Fira Code', monospace;
    color: rgb(109, 99, 99);
}


h1{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    font-size: 90px;
    text-align: center;
    
    justify-content: center;
   
    background: -webkit-linear-gradient(left, red , yellow);
   background: -o-linear-gradient(right, red, yellow);
   background: -moz-linear-gradient(right, red, yellow);
   background: linear-gradient(to right, red , yellow); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}



.cen{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social img{
    margin: 4px;
}


.box img{
    
    height: 111px;
    
}
