@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.hed,h3{
  vertical-align: text-top;
  color: white;
}

body{
    
    background-color: #17141d;
}


.container{
    max-height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}



.item{
    margin: 10px;
    border-radius: 11px;
    display: flex;
    height: 100vh;
    align-items: center;
    scroll-snap-align: center;
    padding-bottom: 10px;
  
}

.box{
    font-family: 'Fira Code', monospace;
    padding-top: 11vh;
    padding-bottom: 11vh;
    border-radius: 20px;
    background: #17141d;

    overflow-y:auto;
    height:70%;
    
    box-shadow: -1rem 0 2rem #000;
    color: rgb(109, 99, 99);
    text-align: center;
    width: 66vh;
    margin: auto;
    
}

.box img{
 margin:20px;
 max-width: 30vh;
 max-height:30vh;
  width: auto;
  height: auto;
}

p{
overflow-wrap: break-word;
text-align:justify;
padding-left: 10px;
padding-right: 10px;
}

h5{
   font-family: 'Fira Code', monospace;
   color: rgb(155, 143, 143);
   text-align: center;
   animation: bounce 0.5s; 
   animation-direction: alternate; 
   animation-iteration-count: infinite;
   font-size: 30px;

}


h5 { 
    
    animation: bounce 0.5s; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    animation-iteration-count: infinite; 
} 
  
@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 30px, 0); 
    } 
} 
   
@-webkit-keyframes bounce { 
    from { 
        -webkit-transform: translate3d(0, 0, 0); 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        -webkit-transform: translate3d(0, 30px, 0); 
        transform: translate3d(0, 30px, 0); 
    } 

}

@keyframes animate
{
    0%{
        text-shadow: -3px -3px 0 rgb(211, 211, 211),3px 3px 0 rgb(0, 0, 0);
    }
}


.copy{
    align-items: center;
    text-align: center;
    font-size: 14px;
font-family: 'Fira Code', monospace;
    color: rgb(109, 99, 99);
}


h1{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    font-size: 90px;
    text-align: center;
    color: rgb(182, 182, 182);
    justify-content: center;
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
    
}



.cen{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social img{
    margin: 4px;
}

h2 {
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 12em; 
    text-shadow: .03em .03em 0 rgb(71, 76, 104);
    }
    h2:after {
      content: attr(data-shadow);
      position: absolute;
      top: .06em; left: .06em;
      z-index: -1;
      text-shadow: none;
      background-image:
        linear-gradient(
          45deg,
          transparent 45%,
          hsla(48,20%,90%,1) 45%,
          hsla(48,20%,90%,1) 55%,
          transparent 0
          );
      background-size: .05em .05em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
      animation: shad-anim 15s linear infinite;
      }
  
  @keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
    }
